<%- include('header.html') -%>
<div class="container pt-3">
    <div class="input-group mb-3">
        <textarea class="form-control" style="min-height: 100vh;">
            <div class="container pt-3 pb-3">
                <div class="input-group mb-3">
                   <span style="min-width: 150px;" class="input-group-text">Target</span>
                   <input type="text" class="form-control" name="target">
               </div>
               <div class="input-group mb-3">
                   <span style="min-width: 150px;" class="input-group-text">Image</span>
                   <input type="text" class="form-control" name="image">
               </div>
               <div class="input-group mb-3">
                   <span style="min-width: 150px;" class="input-group-text">title</span>
                   <input type="text" class="form-control" name="title">
               </div>
               <div class="input-group mb-3">
                   <span style="min-width: 150px;" class="input-group-text">Theme</span>
                   <input type="text" class="form-control" name="title">
               </div>  
               <div class="text-center">
                   <button class="btn btn-outline-danger" type="reset">Reset</button>
                   <button class="btn btn-outline-success" type="submit">Confirm</button>
               </div>
           </div>
        </textarea>
    </div>
</div>
<%- include('footer.html') -%>
